body {
    margin: 0;
}

.container {
    background-color: #333;
    padding: 1rem;
}

.container + .container {
    margin-top: 16px;
}

.draggable {
    padding: 1rem;
    background-color: #fff;
    border: 1px solid black;
    cursor: move;
}

.dragging {
    opacity: .5;
}